version: '3.9'

services:
  frontend-user:
    build:
      context: ./Frontend/User
      dockerfile: Dockerfile
    ports:
      - "5174:5173"
    depends_on:
      - backend

  frontend-admin:
    build:
      context: ./Frontend/Admin
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "3004:3000"